{% extends 'my_blog_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "border mt-2 p-3 content-section">
    <form method="POST">
        {% csrf_token %}
        <legend class="border-bottom">Blog Post</legend>
        <fieldset class=""form-group>
            {{ form|crispy }}
        </fieldset>

        <div class=""form-group>
            <button class="btn btn-sm btn-outline-danger" type="submit">Post</button>
        </div>
    </form>

</div>

{% endblock content%}